<h1><%= @name %>! It's alive!!!</h1>
<h2> Index has changed </h2>
<h3>HOSTNAME: <%= node['hostname'] %><br>
    IP ADDRESS <%= node['ipaddress'] %><br>
    CPU: <%= node['cpu']['0']['mhz'] %><br>
    MEMORY: <%= node['memory']['total'] %><br>
</h3>
